include requirements.txt
include gofedlib/logger/logging.yaml
include gofedlib/docs/proposal.md
include gofedlib/docs/providers.md
include gofedlib/distribution/clients/fakedata/data.json
include gofedlib/distribution/data/ip2package_mapping.json
include gofedlib/config/lib.conf
include gofedlib/docs/providers.md
include gofedlib/docs/proposal.md
include gofedlib/distribution/clients/fakedata/data.json
include gofedlib/distribution/clients/pkgdb/fakedata.json
include gofedlib/distribution/data/ip2package_mapping.json
include gofedlib/go/apidiff/testdata/api1.json
include gofedlib/go/apidiff/testdata/api2.json
include gofedlib/go/importpath/data/known_prefixes.json
include gofedlib/go/importpath/data/native_packages.json
include gofedlib/go/symbolsextractor/parseGo.go
include gofedlib/go/symbolsextractor/parseGo
include gofedlib/logger/logger.yaml
include gofedlib/providers/data/ip2pp_mapping.json
include gofedlib/schemas/distribution_packages.json
include gofedlib/schemas/golang_native_imports.json
include gofedlib/schemas/import_path_to_package_name.json
include gofedlib/schemas/import_path_to_provider_prefix.json
include gofedlib/schemas/spec_model.json
